# example unit file when systemd is used

[Unit]
Description=alertR Alert Client Push Notification

[Service]
Type=simple
ExecStart=/etc/init.d/alertRalertPushNotification.sh start
ExecStop=/etc/init.d/alertRalertPushNotification.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target