requests==2.31.0
prometheus-client==0.14.1
pycryptodome==3.10.1
Shapely==1.7.1
lightweightpush==0.0.5
RPi.GPIO==0.5.2
kodi-json==1.0.0
urwid==2.1.0
mysqlclient==1.4.6
icalendar==4.0.2
python-dateutil==2.7.3
bcrypt==3.1.4
