# characters not allowed for usage are '#' and ','
# the values are "username, password" per line
# note: whitespaces will be removed when parsing
user1, password1
user2, password2
user3, password3
user4, password4
user5, password5
user6, password6
user7, password7
user8, password8