a:link {
	text-decoration: none;
}


a:visited {
	text-decoration: none;
}


a:hover {
	text-decoration: none;
}


a:active {
	text-decoration: none;
}


.box {
	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 15px;
	padding: 2px;
	padding-top: 5px;
 	padding-bottom: 5px;
 	margin-bottom: 30px;
}


.subbox {
	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 15px;
	padding: 2px;
	padding-top: 5px;
 	padding-bottom: 5px;
 	margin-top: 5px;
}


.failTd {
	background-color: #ff0000;
}


.triggeredTd {
	background-color: #fff000;
}


.normalTd {
	background-color: #00ff00;
}


.profile0Td {
	background-color: #00ff00;
}

.profile1Td {
	background-color: #ff0000;
}

.profile2Td {
	background-color: #1a92aa;
}

.profile3Td {
	background-color: #aa22aa;
}

.profile4Td {
	background-color: #ded82c;
}


.neutralTd {
	background-color: #ffffff;
}


.boxHeaderTd {
	background-color: #b8b0b0;
}


.boxEntryTd {
	background-color: #d5cbcb;
}


.buttonA {
	color: #000000;
	display: block;
    width: 100%;
    text-align: center;
}


.buttonTd {
	padding: 6px;
	border: 2px solid #000000;
	background-color: #55b1bc;
}


.buttonActiveTd {
	padding: 6px;
	border: 2px solid #000000;
	background-color: #fa5b55;
}


.filterLabel {
	display: block;
	width: 100%;
	text-align: left;
}



.elementHidden {
	visibility: hidden;
	display: none;
	overflow: hidden;
}

.elementShown {
	visibility: visible;
	display: block;
	overflow: visible;
}
