# example unit file when systemd is used

[Unit]
Description=alertR Sensor Client FIFO

[Service]
Type=simple
ExecStart=/etc/init.d/alertRsensorFIFO.sh start
ExecStop=/etc/init.d/alertRsensorFIFO.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target