# example unit file when systemd is used

[Unit]
Description=alertR Sensor Client Weather Service

[Service]
Type=simple
ExecStart=/etc/init.d/alertRsensorWeatherService.sh start
ExecStop=/etc/init.d/alertRsensorWeatherService.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target