# example unit file when systemd is used

[Unit]
Description=alertR Sensor Client Lightning

[Service]
Type=simple
ExecStart=/etc/init.d/alertRsensorLightning.sh start
ExecStop=/etc/init.d/alertRsensorLightning.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target