# example unit file when systemd is used

[Unit]
Description=alertR Alert Client Dbus

[Service]
Type=simple
ExecStart=/etc/init.d/alertRalertDbus.sh start
ExecStop=/etc/init.d/alertRalertDbus.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target