# example unit file when systemd is used

[Unit]
Description=alertR Sensor Client OpenWeatherMap

[Service]
Type=simple
ExecStart=/etc/init.d/alertRsensorOpenWeatherMap.sh start
ExecStop=/etc/init.d/alertRsensorOpenWeatherMap.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target